/* 

Font
Grid

*/

@import url('https://fonts.cdnfonts.com/css/inter');
                

:root{
    --font-size: 1rem;
    --line-spacing: 1.5;
    --font-family-serif: 'Times New Roman', Times, serif;
    --font-family-sans: "Inter", 'Arial', -apple-system, sans-serif;
    --font-family-mono: monaco, "Consolas", "Lucida Console", monospace;
    --bg-color: #fff;
    --bg-secondary-color: #f3f3f6;
    --color-primary: #0f62fe;
    --color-error: #c83528;
    --color-success: #4f9f52;
    --color-grey: #b9b9b9;
}

/* FONT */

body{
    font-family: var(--font-family-serif);
    font-size: 1em;
    font-weight: 400;
    /* line-height: 1.5; */
    max-width: 2000px;
    /* margin: auto; */
    margin: auto;
    width: 50%;
    /* max-width: 400px; */
    @media screen and (min-width: 768px) {
        margin: auto;
        width: 50%;
        /* max-width: 400px; */
    }
}


/* DARKMODE */
/* @media (prefers-color-scheme: dark) {
    body {
      color: #eee;
      background: #121212;
    }
  } */


.dark-mode {
    background-color: black;
    color: white;
  }

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: calc(var(--font-size)*2);
    margin-bottom: 0em;
    line-height: var(--line-spacing);
    font-weight: 500;
}
h1 {
    font-size: 4em;
    @media screen and (min-width: 768px) {
        font-size: 6em;
    }
}
h2 {
    font-size: 3em;
    @media screen and (min-width: 768px) {
      font-size: 4em;
    }
}
h3 {
    font-size: 1.5em;
    @media screen and (min-width: 768px) {
      font-size: 2em;
    }
}
h4 {
    font-size: 1.2em;
    @media screen and (min-width: 768px) {
      font-size: 1.5em;
    }
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}
p{
    margin-bottom: 1em;
    line-height: 1.5;
}
a {
    color: var(--color-primary);
    text-decoration: none;
  }
  a:hover:not(.button) {
    opacity: 0.8;
    text-decoration: underline;
  }
  button {
    font-family: inherit;
  }
  blockquote {
    background-color: var(--bg-secondary-color);
    padding: 1.5rem 2rem;
    border-left: 3px solid var(--color-lightGrey);
    margin: var(--font-size) 0 0 0;
  }
.note{
    text-align: right;
    text-decoration: italic;
    color: var(--color-grey);
}

.crunch {
    letter-spacing: -0.1em;
}

/* TEXT MODIFIERS */

.sans{
    font-family: "Inter", 'Arial', -apple-system, sans-serif !important;
}

.bold{
    font-weight: 700 !important;
}

/* GRID */

main{
    min-height: 88vh;
    /* max-width: 50%; */
    margin: auto;
    @media screen and (max-width: 768px) {
        width: 95%;
        overflow: hidden;
        margin: auto;
        min-width: 95%;
    }
}

header{
    @media screen and (max-width: 768px) {
        width: 95%;
        overflow: hidden;
        margin: auto;
    }
    @media screen and (min-width: 768px) {
        margin: auto;
        width: 90%;
    }
}

footer{
    box-shadow: 0 -1px 0 var(--color-grey);
    min-height: 2vh;
    /* max-width: 50; */
    margin: auto auto 0px auto;
    padding-top: 0%;
    bottom: 0%;
    /* margin-left: 25%; */
    /* width: 50%; */
    overflow: hidden;
    @media screen and (max-width: 768px) {
        width: 95%;
        overflow: hidden;
        margin: auto;
    }
}

.right {
    float: right;
    text-align: right;
}


.grid-full {
    --column-count: 1;
    display: grid;
    margin: auto;
    display: inline-block;
    grid-template-columns:
        repeat(var(--column-count), 1fr);
        min-width: 150%;
        overflow: visible;
   }


.grid {
    --column-count: 1;
    display: grid;
    margin: auto;
    grid-template-columns:
        repeat(var(--column-count), 1fr);
   }

.grid-2 {
    --column-count: 2;
    display: grid;
    grid-template-columns:
        repeat(var(--column-count), 1fr);
   }

.grid-3 {
    --column-count: 3;
    display: grid;
    grid-template-columns:
        repeat(var(--column-count), 1fr);
   }

.grid-4 {
    --column-count: 4;
    display: grid;
    grid-template-columns:
        repeat(var(--column-count), 1fr);
   }

.grid-2 > div, .grid-3 > div, .grid-4 > div :first-child{
    padding-right: 2em;
}

img{
    width: 100%;
    z-index: 1000;

}

.logo-img{
    width: 100px;
}

.narrow{
    /* @media screen and (min-width: 768px) { */
    width: 50%;
    align-self: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
/* } */
    @media screen and (max-width: 768px) {
        width: 100%;
    }

}

.wide{
    /* @media screen and (min-width: 768px) { */
        width: 150%;
        align-self: center;
        display: block;
        margin-left: -25%;
        margin-right: auto;
    /* } */
    @media screen and (max-width: 768px) {
        width: 100%;
    }

}

.full{
    width: 200%;
    align-self: center;
    display: block;
    margin-left: -50%;
    margin-right: 0;
    @media screen and (max-width: 768px) {
        width: 100%;
    }
    @media screen and (min-width: 768px) {
        width: 200%;
        align-self: center;
        display: block;
        margin-left: -50%;
        margin-right: 0;
    }
}

hr {
    border: 0;
    margin: 2em auto 0em auto;
    clear:both;
    display:block;
    width: 100%;               
    background-color:var(--color-grey);
    height: 1px;
  }

nav {
    background-color: rgba(255,255,255,1);
    display: inline-block;
}

nav:first-child {
    padding: 0 0.5em 0 0 !important;
}

nav:child {
    padding: 0 0.5em 0 0 !important;
}
nav a{
    padding-right: 0.5em !important;
}

label{
    font-size: calc(0.8*var(--font-size));
    color: #707070;
}


input{
    width: 60%;
}

input[type=email] {
    border: none;
    border-bottom: 1px solid #000;  
}
input[type=email]:focus {
    color: var(--color-primary);;
    border: none;
    border-bottom: 1px solid var(--color-primary);
    outline: none;
}

input[type=text] {
    border: none;
    border-bottom: 1px solid #000;
}
input[type=text]:focus {
    color: var(--color-primary);;
    border: none;
    border-bottom: 1px solid var(--color-primary);
    outline: none;
}